<div class="example-container">
  <h2>Agregar empleado</h2>
  <form (ngSubmit)="agregarEmpleadoForm()" #employeeForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Name" id="name" name="name" [(ngModel)]="newEmployee.name" required>
      <mat-label>Nombre</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Job Title" id="jobTitle" name="jobTitle" [(ngModel)]="newEmployee.jobTitle" required>
      <mat-label>Trabajo</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Department" id="department" name="department" [(ngModel)]="newEmployee.department" required>
      <mat-label>Departamento</mat-label>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">+Agregar</button>
  </form>
</div>  